<launch>

<!-- This is used to load the cad files for visualization and ray tracing.  -->
<!-- There needs to be corresponding files  -->
<!-- gazebo_ray_trace/sdf/[localization_object_cad].stl -->
<!-- gazebo_ray_trace/worlds/[localization_object_cad].world -->
  <arg name="localization_object" default="wood_boeing"/>


  <node pkg="rviz" type="rviz" name="ParticleViz" 
	args="-d $(find using_markers)/src/rviz_config.rviz" required="true"/>

  <group ns="baseParticles">
    <rosparam param="initial_uncertainties">
      <!-- [.05, .05, .02, 0.02, 0.01, 0.05] -->
      [.0003, .03, .0002, 0.00015, 0.0001, 0.0004]
      <!-- [.002, .005, .002, 0.002, 0.001, 0.005] -->
      <!-- [.1, .1, .1, 0.2, 0.2, 0.2] -->
      <!-- [.05, .05, .05, 0,0,0] -->
    </rosparam>

    <rosparam param="particle_frame">
      <!-- [1.1, 0.41, .18, 0, 0, -1.95] -->
      [0, .030, 0, 0, 0, -1.57]
    </rosparam>

    <rosparam param="color">
      [.6, .6, .65, .2]
    </rosparam>


    <param name="localization_object_cad" type="str" 
	   value="package://custom_ray_trace/sdf/$(arg localization_object).stl"/>
    <param name="localization_object_filepath" type="str"
	   value="$(find custom_ray_trace)/sdf/$(arg localization_object).stl"/>
    <param name="localization_object" type="str"
	   value="$(arg localization_object)"/>

    <node pkg="using_markers" type="plotParticles" 
	  name="markers" output="screen"/>

    <include file="$(find particle_filter)/launch/pfilterBoeing.launch"/>
  </group>


  <group ns="right_datum">
    <rosparam param="initial_uncertainties">
      <!-- [.05, .05, .02, 0.02, 0.01, 0.05] -->
      [.0002, .02, .0002, 0.0002, 0.0001, 0.0005]
      <!-- [.1, .1, .1, 0.2, 0.2, 0.2] -->
      <!-- [.05, .05, .05, 0,0,0] -->
    </rosparam>

    <rosparam param="particle_frame">
      <!-- [1.1, 0.41, .18, 0, 0, -1.95] -->
      [0, 0, 0, 0, 0, -1.57]
    </rosparam>

    <rosparam param="color">
      [0, 0, 1, .2]
    </rosparam>



    <param name="localization_object_cad" type="str" 
	   value="package://custom_ray_trace/sdf/right_datum.stl"/>
    <param name="localization_object_filepath" type="str"
	   value="$(find custom_ray_trace)/sdf/right_datum.stl"/>
    <param name="localization_object" type="str"
	   value="right_datum"/>

    <node pkg="using_markers" type="plotParticles" 
	  name="markers" output="screen"/>

    <include file="$(find particle_filter)/launch/pfilterBoeing.launch"/>
  </group>




  <group ns="top_datum">
    <rosparam param="initial_uncertainties">
      <!-- [.05, .05, .02, 0.02, 0.01, 0.05] -->
      [.0002, .02, .0002, 0.0002, 0.0001, 0.0005]
      <!-- [.02, .05, .0002, 0.0002, 0.0001, 0.0005] -->
      <!-- [.02, .0005, .02, 0.0002, 0.0001, 0.0005] -->
      <!-- [.02, .005, .02, 0.02, 0.01, 0.05] -->
      <!-- [.1, .1, .1, 0.2, 0.2, 0.2] -->
      <!-- [.05, .05, .05, 0,0,0] -->
    </rosparam>

    <rosparam param="particle_frame">
      <!-- [1.1, 0.41, .18, 0, 0, -1.95] -->
      [0, 0, 0, 0, 0, -1.57]
    </rosparam>

    <rosparam param="color">
      [0, 1, 1, .2]
    </rosparam>



    <param name="localization_object_cad" type="str" 
	   value="package://custom_ray_trace/sdf/top_datum.stl"/>
    <param name="localization_object_filepath" type="str"
	   value="$(find custom_ray_trace)/sdf/top_datum.stl"/>
    <param name="localization_object" type="str"
	   value="top_datum"/>

    <node pkg="using_markers" type="plotParticles" 
	  name="markers" output="screen"/>

    <include file="$(find particle_filter)/launch/pfilterBoeing.launch"/>
  </group>


  <group ns="goal_hole">
    <rosparam param="initial_uncertainties">
      <!-- [.05, .05, .02, 0.02, 0.01, 0.05] -->
      [.0002, .02, .00, 0.0002, 0.0001, 0.0005]
      <!-- [.02, .05, .0002, 0.0002, 0.0001, 0.0005] -->
      <!-- [.1, .1, .1, 0.2, 0.2, 0.2] -->
      <!-- [.05, .05, .05, 0,0,0] -->
    </rosparam>

    <rosparam param="particle_frame">
      <!-- [1.1, 0.41, .18, 0, 0, -1.95] -->
      [-0.01, 0, 0, 0, 0, -1.57]
    </rosparam>

    <rosparam param="color">
      [0, 1, 0, .7]
    </rosparam>



    <param name="localization_object_cad" type="str" 
	   value="package://custom_ray_trace/sdf/goal_hole.stl"/>
    <param name="localization_object_filepath" type="str"
	   value="$(find custom_ray_trace)/sdf/goal_hole.stl"/>
    <param name="localization_object" type="str"
	   value="goal_hole"/>

    <node pkg="using_markers" type="plotParticles" 
	  name="markers" output="screen"/>

    <include file="$(find particle_filter)/launch/pfilterBoeing.launch"/>
  </group>


</launch>
