<launch>

  <arg name="localization_object" default="flat_plate"/>

  <param name="localization_object_cad" type="str" 
	 value="package://gazebo_ray_trace/sdf/$(arg localization_object).stl"/>
  <include file="$(find using_markers)/launch/particles.launch"/>
  <include file="$(find gazebo_ray_trace)/launch/headless_ray_tracing_service.launch">
    <arg name="world_name" value="$(find gazebo_ray_trace)/worlds/$(arg localization_object).world"/>
  </include>



</launch>
