<launch>

<!-- This is used to load the cad files for visualization and ray tracing.  -->
<!-- There needs to be corresponding files  -->
<!-- gazebo_ray_trace/sdf/[localization_object_cad].stl -->
<!-- gazebo_ray_trace/worlds/[localization_object_cad].world -->
  <arg name="localization_object" default="wood_boeing"/>


  <node pkg="rviz" type="rviz" name="ParticleViz" 
	args="-d $(find using_markers)/src/twoEdges.rviz" required="true"/>

  <rosparam command="load" file="$(find touch_optimization)/configs/twoEdges.yaml"/>

  <rosparam param="relationshipsFile" subst_value="True">
    $(find touch_optimization)/configs/relationships.json
  </rosparam>

  <group ns="baseParticles">
    <node pkg="using_markers" type="plotParticles" 
	  name="markers" output="screen"/>
    <include file="$(find particle_filter)/launch/pfilterBoeing.launch"/>
    <param name="localization_object_cad" type="str"
       	   value="package://custom_ray_trace/sdf/$(arg localization_object).stl"/>
    <param name="localization_object_filepath" type="str"
    	   value="$(find custom_ray_trace)/sdf/$(arg localization_object).stl"/>
  </group>


  <group ns="right_datum">
    <node pkg="using_markers" type="plotParticles" 
	  name="markers" output="screen"/>

    <include file="$(find particle_filter)/launch/pfilterBoeing.launch"/>
    <param name="localization_object_cad" type="str" 
	   value="package://custom_ray_trace/sdf/right_datum.stl"/>
    <param name="localization_object_filepath" type="str"
	   value="$(find custom_ray_trace)/sdf/right_datum.stl"/>
  </group>


  <group ns="top_datum">
    <node pkg="using_markers" type="plotParticles" 
	  name="markers" output="screen"/>

    <include file="$(find particle_filter)/launch/pfilterBoeing.launch"/>
    <param name="localization_object_cad" type="str" 
	   value="package://custom_ray_trace/sdf/top_datum.stl"/>
    <param name="localization_object_filepath" type="str"
	   value="$(find custom_ray_trace)/sdf/top_datum.stl"/>
  </group>

  <node pkg="particle_filter" type="observation_distributor" name="observation_dist" 
	required="true" output="screen"/>

  <!-- <group ns="goal_hole"> -->
  <!--   <node pkg="using_markers" type="plotParticles"  -->
  <!-- 	  name="markers" output="screen"/> -->

  <!--   <include file="$(find particle_filter)/launch/pfilterBoeing.launch"/> -->
  <!-- </group> -->

  

</launch>
